.group-training-b1-b2 {
    //
    h2 {
        font-size: 48px;
        span {
            color: #3035c4;
        }
        @media (max-width: 768px) {
            font-size: 24px;
        }
    }
    .title {
        h2 {
            span {
                color: #3035c4;
            }
        }
    }
    //
    .main-home {
        margin: 10px 0px 0px 0px;
        @media (max-width: 768px) {
            margin: 0px 0px 16px 0px;
        }
    }
    .main-home__bg {
        @media (max-width: 768px) {
            display: none;
        }
    }
    .main-home__image {
        width: auto;
        right: 140px;
        height: 460px;
        bottom: 0;
        top: auto;
        img {
            max-height: 100%;
            max-width: 100%;
        }
        @media (max-width: 1310px) {
            right: -40px;
        }
        @media (max-width: 992px) {
            transform: translate(0, 0);
        }
        @media (max-width: 768px) {
            right: 0;
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            order: 1;
            height: 650px;
            width: calc(100% + 26px);
            margin: 0px -13px;
            border-radius: 30px 30px 0px 0px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 30px 30px 0px 0px;
            }
        }
        @media (max-width: 480px) {
            height: 450px;
        }
    }
    .main-home__content {
        display: flex;
        flex-direction: column;
        background: #f2f2fc;
        border-radius: 30px;
        padding: 28px 40px 35px 40px;
        @media (max-width: 992px) {
            align-items: start;
        }
        @media (max-width: 768px) {
            padding: 0px 13px 13px 13px;
        }
    }
    .main-home__body {
        margin: 0px 0px 20px 0px;
        @media (max-width: 768px) {
            order: 3;
            margin: 0px 0px 10px 0px;
        }
    }
    .main-home__top {
        font-size: 24px;
        margin: 0px 0px 15px 0px;
        @media (max-width: 768px) {
            font-size: 14px;
            margin: 0px 0px 6px 0px;
        }
    }
    .main-home__title {
        line-height: 120%;
        font-size: 52px;
        span {
            color: #3035c4;
        }
        @media (max-width: 768px) {
            font-size: 32px;
        }
    }
    //
    .programs-main-home {
        max-width: 608px;
        margin: 0px 0px 22px 0px;
        @media (max-width: 768px) {
            max-width: 100%;
            margin: 0px 0px 0px 0px;
        }
    }
    .programs-main-home__column {
        @media (max-width: 768px) {
            flex: 0 1 33.3333%;
        }
    }
    .programs-main-home__item {
        flex-direction: column;
        align-items: start;
    }
    .programs-main-home__icon {
        margin: 0px 0px 8px 0px;
        @media (max-width: 768px) {
            width: 16px;
            height: 16px;
            min-width: 16px;
            &::before {
                font-size: 6px;
            }
        }
    }
    .programs-main-home__body {
        @media (max-width: 768px) {
            flex-wrap: nowrap;
        }
    }
    .programs-main-home__title {
        span {
            color: #e6514a;
        }
        @media (max-width: 480px) {
            font-size: 10px;
            word-break: break-all;
        }
    }
    .main-home__buttons {
        align-items: start;
        @media (max-width: 768px) {
            order: 2;
            width: 100%;
            margin: -38px 0px 0px 0px;
            align-items: center;
        }
    }
    .main-home__button {
        flex: 0 1 auto;
        @media (max-width: 768px) {
            width: 100%;
        }
        .button {
            min-height: 52px;
            padding: 5px 48px;
            @media (max-width: 768px) {
                width: 93%;
                margin: 0 auto;
                padding: 5px 10px;
            }
        }
    }
    .button {
        background-color: #3035c4;
        border: 1px solid #3035c4;
        &:hover {
            color: #3035c4;
            background-color: #fff;
        }
    }
    //
    .present-main-home {
        width: auto;
        padding: 0px 0px 0px 0px;
        top: 29px;
        right: 35px;
        z-index: 10;
        max-width: max-content;
        @media (max-width: 992px) {
            top: 0;
            right: 0;
            transform: translate(0, 0);
            left: auto;
            margin: 0px 0px 20px 0px;
        }
        @media (max-width: 768px) {
            width: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0px);
        }
        @media (max-width: 480px) {
            left: 30px;
            transform: translate(0px, 0px);
            width: calc(100% - 50px);
            max-width: 100%;
            @media (max-width: 370px) {
                left: 13px;
                width: calc(100% - 26px);
            }
        }
        .programs-main-home__circle {
            bottom: -57px;
            @media (max-width: 480px) {
                bottom: -65px;
            }
        }
    }
    .present-main-home__item {
        padding: 13px 19px 15px 7px;
        gap: 8px;
        @media (max-width: 480px) {
            padding: 12px 8px;
        }
    }
    .present-main-home__image {
        width: 82px;
        height: 82px;
        img {
            width: 82px;
            height: 82px;
        }
        @media (max-width: 480px) {
            width: 62px;
            height: 62px;
            img {
                width: 62px;
                height: 62px;
            }
        }
    }
    .present-main-home__text {
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        gap: 8px;
        @media (max-width: 480px) {
            flex: 1 1 auto;
        }
        p {
            display: flex;
            flex-direction: column;
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            margin: 0px 0px 0px 12px;
            span {
                font-weight: 700;
            }
            @media (max-width: 480px) {
                font-size: 13px;
            }
        }
    }
    .present-main-home__title {
        display: flex;
        flex-direction: column;
        color: #fff;
        border-radius: 8px;
        padding: 2px 12px;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        background-color: #e6514a;
        span {
            font-weight: 600;
        }
        @media (max-width: 480px) {
            font-size: 14px;
        }
    }
    //
    .about {
        @media (max-width: 768px) {
            margin: 0px 0px 16px 0px;
        }
    }
    //
    .students-speak-block__button {
        font-family: "Roboto", sans-serif;
    }
    //
    .benefits-block__icon {
        border-bottom: 2px solid #3035c4;
    }
    //
    .for-whom__title {
        margin: 0px 0px 20px 0px;
    }
    .page__for-whom {
        background: #fff;
        padding: 48px 0px;
        @media (max-width: 768px) {
            padding: 16px 0px;
        }
    }
    .for-whom__body {
        display: flex;
        justify-content: space-between;
        position: relative;
        background: #f9fafc;
        border-radius: 30px;
        padding: 2px 26px 48px 22px;
        min-height: 779px;
        gap: 45px;
        margin: 0px 0px 0px 0px;
        @media (max-width: 1310px) {
            gap: 30px;
        }
        @media (max-width: 992px) {
            display: none;
        }
        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 85%;
            height: 100%;
            z-index: 1;
        }
    }
    .for-whom__row {
        position: relative;
        z-index: 5;
        flex: 0 1 calc(33.3333% - 45px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px 0px 0px 0px;
        @media (max-width: 1310px) {
            flex: 0 1 calc(33.3333% - 30px);
        }
        @media (max-width: 992px) {
            flex: 1 1 auto;
            justify-content: start;
        }
    }
    .for-whom__column {
        padding: 0px 0px 0px 0px;
        &:last-child {
            align-items: flex-end;
        }
    }
    .for-whom__body-mob {
        display: none;
        @media (max-width: 992px) {
            display: block;
        }
    }
    .for-whom__image {
        height: auto;
        margin: 0px 0px -70px 0px;
        position: relative;
        @media (max-width: 992px) {
            margin: 16px 0px 0px 0px;
        }
    }
    .for-whom__scroll {
        margin: 0px -6px;
        .for-whom__column {
            flex: 0 0 343px;
            padding: 0 6px;
        }
    }
    .for-whom__column {
        display: flex;
        align-items: center;
        &.column-image {
            padding: 0px 0px 0px 0px;
            margin: 30px -20px 0px -20px;
        }
    }
    .for-whom__name {
        color: #3035c4;
    }
    .for-whom__item {
        height: auto;
        width: 100%;
        padding: 24px;
        @media (max-width: 992px) {
            height: 100%;
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #23283b;
            @media (max-width: 768px) {
                font-size: 14px;
            }
        }
        ul {
            li {
                display: flex;
                &::before {
                    content: "";
                    display: flex;
                    flex: 0 0 3px;
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                    background: #000;
                    margin: 10px 10px 0px 10px;
                }
            }
        }
    }
    //
    .events__online::before {
        color: #3035c4;
    }
    //
    .arrow-next {
        background-color: #e1e2f8;
        &:hover {
            background-color: #3035c4;
        }
    }
    .arrow-prev {
        background-color: #e1e2f8;
        &:hover {
            background-color: #3035c4;
        }
    }
    //
    .training-results {
        @media (max-width: 768px) {
            margin: 0px 0px 16px 0px;
        }
    }
    .training-results__content {
        padding: 38px;
        @media (max-width: 768px) {
            padding: 16px 16px 36px 16px;
        }
        h2 {
            font-size: 45px;
            @media (max-width: 768px) {
                font-size: 24px;
            }
        }
    }
    //
    .reviews {
        @media (max-width: 768px) {
            margin: 0px 0px 16px 0px;
        }
    }
    .reviews__title {
        @media (max-width: 768px) {
            margin: 0px 0px 34px 0px;
        }
        h2 {
            font-size: 46px;
            @media (max-width: 768px) {
                font-size: 24px;
            }
        }
    }
    .why-study__title {
        h2 {
            font-size: 46px;
            @media (max-width: 768px) {
                font-size: 24px;
            }
        }
    }
    .why-study {
        @media (max-width: 768px) {
            margin: 0px 0px 16px 0px;
        }
    }
    .bottom-forms__button {
        background-color: #fff;
        border: 1px solid #e6514a;
        &:hover {
            background-color: #e6514a;
            color: #fff;
        }
    }
    //
    .tax-deduction {
        @media (max-width: 768px) {
            margin: 0px 0px 16px 0px;
        }
    }
}

//Индивидуальный урок3
.individual-lesson3 {
    //
    .main-home__bg {
        @media (max-width: 768px) {
            display: none;
        }
    }
    .main-home__programs {
        margin: 0px 0px 20px 0px;
        max-width: 660px;
        @media (max-width: 768px) {
            margin: 10px 0px 0px 0px;
            max-width: 100%;
        }
    }
    .programs-main-home__item {
        border-radius: 20px 0;
        @media (max-width: 768px) {
            flex-direction: column;
            align-items: start;
            padding: 10px 10px 13px 10px;
        }
    }
    .programs-main-home__body {
        @media (max-width: 480px) {
            flex-direction: column;
        }
    }
    .programs-main-home__icon {
        margin: 0px 0px 5px 0px;
        @media (max-width: 768px) {
            margin: 0px 0px 10px 0px;
        }
    }
    .programs-main-home__title {
        font-weight: 400;
        span {
            font-weight: 700;
            color: #e6514a;
        }
    }
    .main-home__buttons {
        margin: 0px 0px 0px 0px;
        @media (max-width: 768px) {
            margin: 0px 6px;
        }
        @media (max-width: 375px) {
            margin: 0px 0px 0px 0px;
        }
    }
    .main-home__button {
        flex: 0 1 378px;
        padding: 0px 0px 0px 0px;
        @media (max-width: 768px) {
            flex: 1 1 auto;
        }
        .button {
            padding: 16px;
        }
    }
    .main-home__image {
        width: auto;
        right: 100px;
        right: 7px;
        img {
            max-height: 100%;
            max-width: 100%;
        }
        @media (max-width: 1310px) {
            right: 0;
        }
        @media (max-width: 768px) {
            display: flex;
            justify-content: center;
            order: 2;
            width: calc(100% + 40px);
            max-height: auto;
            margin: 0px -20px 40px -20px;
            border-radius: 30px 30px 0px 0px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 30px 30px 0px 0px;
            }
        }
    }
    .main-home__content {
        display: flex;
        flex-direction: column;
        background: #f2f2fc;
        border-radius: 30px;
        padding: 60px 40px 35px 40px;
        @media (max-width: 768px) {
            padding: 18px 17px 8px 17px;
        }
    }
    .main-home__body {
        margin: 0px 0px 40px 0px;
        @media (max-width: 768px) {
            max-width: 100%;
            margin: 0px 0px -60px 0px;
        }
    }
    .main-home__top {
        font-size: 24px;
        @media (max-width: 768px) {
            font-size: 16px;
        }
    }
    .main-home__subtitle {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 110%;
        color: #000;
        margin: 6px 0px 0px 0px;
        @media (max-width: 768px) {
            font-size: 15px;
            line-height: 110%;
        }
    }
    .main-home__title {
        @media (max-width: 768px) {
            font-size: 32px;
            line-height: 110%;
        }
    }
    //
    .free-lesson-block__content {
        padding: 25px 38px;
        @media (max-width: 992px) {
            padding: 16px;
        }
        h2 {
            font-size: 42px;
            line-height: 124%;
            @media (max-width: 768px) {
                font-size: 24px;
                line-height: 120%;
            }
        }
    }
    .free-lesson-block__image {
        margin: 0px 5px 0px 0px;
        @media (max-width: 1310px) {
            margin: 0px 0px 10px 0px;
        }
    }
    .free-lesson-block__svg-desc {
        width: 100%;
        margin: 0px 34px 45px -34px;
        @media (max-width: 1310px) {
            margin-right: auto;
            width: 80%;
            margin: 0px 0px 10px 0px;
            height: auto;
        }
    }
    .free-lesson-block__buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @media (max-width: 1310px) {
            align-items: start;
        }
        @media (max-width: 768px) {
            align-items: center;
        }
    }
    .free-lesson-block__button {
        width: auto;
        margin: 0px 0px 0px 0px;
        padding: 16px 32px;
        @media (max-width: 1310px) {
            margin: 14px 0px 0px 15px;
            margin-left: auto;
            padding: 16px;
        }
        @media (max-width: 768px) {
            width: 100%;
            margin: 0px 0px 0px 0px;
        }
    }
    .free-lesson-block__lists {
        @media (max-width: 1310px) {
            width: 100%;
        }
        ul {
            li {
                &::before {
                    font-size: 10px;
                }
            }
        }
    }
    //
    .benefits-block2 {
        .benefits-block__content {
            background: transparent;
        }
        .benefits-block__body {
            gap: 30px;
            margin: 0px 0px 0px 0px;
            @media (min-width: 1310px) {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
            }
            @media (max-width: 1310px) {
                padding: 16px;
            }
        }
        .benefits-block__title {
            h2 {
                font-size: 46px;
                @media (max-width: 768px) {
                    font-size: 24px;
                }
                span {
                    color: #3035c4;
                }
            }
        }
        .benefits-block__icon {
            border-bottom: 2px solid #3035c4;
        }
        .benefits-block__column {
            background: transparent;
            padding: 0px 0px 0px 0px;
            &:first-child {
                padding: 0px 0px 0px 8px;
            }
            @media (max-width: 768px) {
                flex: 0 0 159px;
            }
        }
    }
    //
    .about {
        @media (max-width: 768px) {
            margin: 0px 0px 0px 0px;
        }
    }
    .offer-block__content {
        p {
            font-weight: 700;
            font-size: 36px;
            line-height: 120%;
            color: #fff;
            margin: 0px 0px 24px 0px;
            @media (max-width: 768px) {
                font-size: 24px;
                line-height: 120%;
            }
        }
    }
    .offer-block__top {
        @media (max-width: 768px) {
            margin: 0px 0px 16px 0px;
        }
    }
    .offer-block__text {
        flex: 0 0 auto;
    }
    .offer-block__item {
        flex: 1 1 550px;
        padding: 21px 12px;
        @media (max-width: 992px) {
            flex: 1 1 auto;
        }
        @media (max-width: 768px) {
            padding: 12px;
        }
        ul {
            li {
                font-size: 18px;
                @media (max-width: 768px) {
                    font-size: 16px;
                }
            }
        }
    }
    .offer-block__button {
        font-family: "Roboto", sans-serif;
        flex: 0 0 auto;
        width: auto;
        padding: 18px 42px;
        margin: 0px 0px 0px 32px;
        @media (max-width: 992px) {
            margin: 0 auto;
            margin: 16px 0px 0px 0px;
        }
        @media (max-width: 480px) {
            padding: 18px;
            width: 100%;
        }
    }
    .offer-block__titles {
        margin: 0px 0px 0px 0px;
    }
    //
    .page__about {
        h2 {
            margin: 0px 0px 48px 0px;
            @media (max-width: 768px) {
                margin: 0px 0px 32px 0px;
            }
        }
    }
    //
    .tax-deduction {
        @media (max-width: 768px) {
            margin: 0px 0px 0px 0px;
        }
    }
    .tax-deduction__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .button {
            margin: 30px 0px 0px 0px;
            padding: 16px 48px;
            @media (max-width: 500px) {
                padding: 16px 10px;
                margin: 32px 0px 0px 0px;
            }
        }
    }
    //
    .reviews {
        @media (max-width: 768px) {
            margin: 0px 0px 16px 0px;
        }
    }
    .reviews__item {
        box-shadow: none;
        padding: 0px 0px 0px 0px;
    }
    //
    .training-results__content {
        @media (max-width: 768px) {
            padding: 16px 20px 22px 16px;
        }
        h2 {
            @media (max-width: 992px) {
                margin: 0px 0px 18px 0px;
            }
            @media (max-width: 768px) {
                font-size: 24px;
                line-height: 150%;
                margin: 0px 0px 8px 0px;
            }
        }
    }
    .training-results__image {
        @media (max-width: 768px) {
            margin: 0px 0px 0px 0px;
        }
    }
    .training-results__body {
        @media (max-width: 992px) {
            flex-direction: column;
            gap: 24px;
        }
        ul {
            flex: 1 1 auto;
            margin: -12px 0px;
            @media (max-width: 768px) {
                margin: -6px 0px;
            }
            li {
                padding: 12px 0px;
                font-size: 16px;
                @media (max-width: 768px) {
                    padding: 6px 0px;
                }
            }
        }
        .button {
            margin-left: -32px;
            width: 240px;
            margin-top: auto;
            flex: 0 0 auto;
            @media (max-width: 1310px) {
                margin-left: 0px;
            }
            @media (max-width: 992px) {
                flex: 1 1 100%;
            }
            @media (max-width: 480px) {
                width: 100%;
            }
        }
    }
}
.block-benefits2 {
    background-color: #f9f9f9;
    padding: 48px 0px 38px 0px;
    @media (max-width: 768px) {
        padding: 44px 0px 32px 0px;
        margin: 0px 0px 16px 0px;
    }

    .title2 {
        margin: 0px 0px 30px 0px;
        @media (max-width: 768px) {
            margin: 0px 0px 32px 0px;
        }
    }
    // .block-benefits2__body

    &__body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 30px;
        @media (max-width: 992px) {
            grid-template-columns: 1fr;
        }
    }

    // .block-benefits2__column

    &__column {
        border-radius: 30px;
        padding: 24px;
        box-shadow:
            5px 5px 15px 0 rgba(147, 164, 188, 0.3),
            -1px -1px 5px 0 rgba(147, 164, 188, 0.15);
        background: #fff;
        @media (max-width: 768px) {
            padding: 12px;
        }
        @media (min-width: 769px) {
            &:nth-child(4) {
                margin: -60px 0px 0px 0px;
            }
            &:nth-child(6) {
                margin: -60px 0px 0px 0px;
            }
            &:nth-child(even) {
                height: max-content;
                .block-benefits2__subtitle {
                    font-size: 16px;
                    line-height: 140%;
                }
            }
        }
    }

    // .block-benefits2__item

    &__item {
        display: flex;
        height: auto;
        gap: 24px;
        @media (max-width: 768px) {
            gap: 12px;
        }
    }

    // .block-benefits2__icon

    &__icon {
        flex: 0 0 60px;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 768px) {
            flex: 0 0 40px;
            width: 40px;
            height: 40px;
            svg {
                height: 40px;
                width: auto;
            }
        }
    }

    // .block-benefits2__desc

    &__desc {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    // .block-benefits2__title

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 133%;
        @media (max-width: 768px) {
            font-size: 20px;
        }
    }

    // .block-benefits2__subtitle

    &__subtitle {
        font-weight: 400;
        font-size: 18px;
        line-height: 133%;
        @media (max-width: 768px) {
            font-size: 14px;
        }
    }

    // .block-benefits2__buttons

    &__buttons {
        position: relative;
        top: -45px;
        max-width: 50%;
        margin-left: auto;
        @media (max-width: 1300px) {
            top: 0;
        }
        @media (max-width: 992px) {
            max-width: 100%;
        }
        .button {
            width: 454px;
            margin: 30px 0px 0px 0px;
            margin-left: auto;
            text-transform: none;
            gap: 5px;
            @media (max-width: 768px) {
                width: 100%;
                margin: 36px 0px 0px 0px;
                span {
                    display: none;
                }
            }
        }
    }

    // .block-benefits2__text1

    &__text1 {
        margin: 20px 0px -30px 10px;
        font-family: "SegoePrint", sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        transform: rotate(-5deg);
        color: #e6514a;
        @media (max-width: 1300px) {
            margin: 20px 0px 10px 10px;
        }
        @media (max-width: 768px) {
            font-size: 24px;
            margin: 40px 0px 25px 10px;
        }
    }

    // .block-benefits2__text2

    &__text2 {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        text-align: right;
        max-width: 432px;
        margin-left: auto;
        @media (max-width: 768px) {
            font-size: 16px;
        }
    }
}
